.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu{
	margin: 1rem;
}

.iframe{
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo{
	display: flex;
	justify-content: center;
	align-items: center;
}